/*---------------------------------------------------------------------------------
Common Styles
---------------------------------------------------------------------------------*/

.clearfix:before,
.clearfix:after {
  content: " ";  1
  display: table;  2
}

.clearfix:after {
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	/*background-color: #003621;*/
  background-color: #282828;
}

body {
	position: relative;
	width: 98%;
	min-height: 97%;
	margin: 0.8em auto;
	padding-bottom: 20px;
	font-family: 'Muli', sans-serif;
	/*background-image: url("../images/fruitsVeg5.png");*/
  /*background-color: #F9F9F9;*/
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

body { overflow-x: hidden;}

a {
  text-decoration: none;
  color: black;
}

/*---------------------------------------------------------------------------------
  Landing Page
---------------------------------------------------------------------------------*/
.landingPageTitleDiv{
  position: absolute;
  top: 40%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}

.subTitles{
  font-size: 20px;
  text-shadow: 0.3px 0.3px 0.3px;
}

.subTitles1{
  margin-top: -3%;
  font-size: 25px;
  color: #282828;
  text-shadow: 0.5px 0.5px 0.9px;
}

.logoImage{
  width: 135px;
  margin: -1%;
  padding-bottom: 8%;
}

.instructions{
  font-size: 17px;
  text-shadow: 0.3px 0.3px 0.3px;
  /*padding-top: 4%;*/
}

#startAppButton{
  margin-left: 38%;
  margin-right: 50%;
  display: block;
  border-color: #132B01 !important;
  box-shadow: 1px 1px 1px;
}

#startAppButton:hover{
  background-color: #132B01 !important;
  color: white !important;
}
/*---------------------------------------------------------------------------------
   Header Styles page 1 and page 2
---------------------------------------------------------------------------------*/

.nav {
  position: relative;
  height: 10%;
  padding: 1em;
}

.logo, .what {
  font-weight: 700;
  font-size: 1.8em;
  margin-right: 8%;
}

.logo {
  float: left;
  list-style: none;
  margin-left: -1%;
  margin: auto;
  font-family: 'Special Elite', sans-serif;
}

.what {
  float: right;
  list-style: none;
  color: #282828;
  text-shadow: 0.3px 0.3px 0.3px black;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav a:hover{
  color: #007030;
  text-decoration: none;
}

.logoTitle{
  margin-top: 15%;
}

.title {
	font-weight: 900;
	font-size: 4em;
	color: black;
	margin-top: 5px;
	font-family: 'Special Elite', cursive;
  padding-left: 6%;
}

.text{
	font-weight: 900;
	font-size: 2em;
	padding: 1.8em;
	color: #282828;
	margin-top: -7%;
  margin-bottom: 20px;
  text-shadow: 0.3px 0.3px 0.3px black;
}

/* Styles for hidden modal */
.overlay {
  width: 100%;
  height: 100%;
  color: black;
  background:linear-gradient(#003621,#005F24,#003621);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
  display: none;
}

.information {
  color: #404040;
  background: #7EBE44;
  position: relative;
  height: auto;
  width: 90%;
  border-radius: 3px;
  top: 15%;
  margin: auto auto;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 10px;
}

.informationH3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 200%;
  font-weight: 400;
  opacity: 0.8;
  background: rgba(0,0,0,0.1);
  border-radius: 3px 3px 0 0;
  color: white;
  text-shadow: 2px 2px 2px #282828;
}

.informationP {
  margin: 0;
  padding: 10px 0;
  line-height: 2em;
  text-align: justify;
  font-size: 18px;
  word-spacing: -2px;
}

.informationUl {
  margin-bottom: -30px;
  padding: 0 0 30px 20px;
  text-align: left;
  font-size: 15px;
}

.informationLi {
  padding: 5px 0;
  display: block;
  list-style-type: disc;
  line-height: 1.5em;
  font-size: 15px;
}

.informationGotIt {
  font-size: 1.5em;
  background: #F0F7DA;
  color: #95a5a6;
  padding: 0.5em 2em;
  margin-bottom: 50px;
  border-radius: 3px;
}

/*---------------------------------------------------------------------------------
Search Section Styles in Page 1
---------------------------------------------------------------------------------*/
.logoImage2{
  width: 135px;
  margin: -1%;
  padding-bottom: 5%;
}

.mainSection2{
  margin-top: -6%;
  padding-left: 7%;
}

#searchBox {
  resize: none;
  margin-top: -60px;
  font-size: 18px;
  border-radius: 4px;
  border: solid #F1F1F1;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  overflow: auto;
  width: 60%;
  border: 2px solid #586352;
  box-shadow: 2px 2px 2px grey;
  text-align: center;
  padding-top: 7%;
}

input {
	min-width: 50%;
	height: 70px;
	display: block;
	margin: 0.8em auto 0;
	background-color: #076124 !important;
	border-color: #132B01 !important;
	/*opacity: 0.9;*/
	color: #fff !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 170% !important;
	clear: both;
  right: 35%;
  box-shadow: 2px 2px 2px grey;
  text-shadow: 0.5px 0.5px 0.3px black;
}

input:hover{
	background-color: #132B01 !important;
  /*opacity: 0.8;*/
  color: white !important;
}

.disease{
    margin-right: 2%;
    margin-top: 2%;
    box-shadow: 2px 2px 2px grey;
    text-shadow: 0.5px 0.5px 0.3px black;
    border-color: #132B01 !important;
    margin-left: 2%;
    /*box-shadow: 1px 1px 1px;*/
    /*background-color: #076124 !important;*/
	/*border-color: #076124 !important;*/
}

.disease:hover{
  background-color: #132B01 !important;
  color: white !important;
}


.diseaseToggle{
	background-color: #780101 !important;
	color:white;
}

/*---------------------------------------------------------------------------------
Results Section Styles in Page 2
---------------------------------------------------------------------------------*/
.navBar{
	/*background-color: rgba(40, 113, 99, 0.2);*/
	height: 30%;
	width: 100%;
}

.searchAgain{
  font-size: 30px;
  margin: auto;
  float: left;
}

#page1 {
  max-width: 100%;
}

#page2{
  display: none;
}

.resultsContainer{
  background-color: #F1F1F1;
  min-height: 665px;
  margin-top: 33px;
  border-radius: 2px;
}

.recommendedContainer{
  background: linear-gradient(#003923, #22663F, #003923);
  border-radius: 2px;
  box-shadow: 3px 3px 3px grey;
}

.notRecommendedContainer{
  background: linear-gradient(#5A2623,#A02025,#5A2623);
  border-radius: 2px;
  box-shadow: 3px 3px 3px grey;
}

.notFoundContainer{
  background-color: rgba(163, 5, 5, .8);
  border-radius: 2px;
  padding-left: 5%;
}

.notFoundContainer #results, .notFoundContainer .foodItem, .notFoundContainer .micronutrients, .notFoundContainer .infoTag{
  display:none;
}

.resultsBox{
  margin: 30px auto;
  height: 150px;
}

.reccomendation{
  font-size: 50px;
  color: red;
  text-shadow: 1px 1px #ff0000;
}

#results img{
  height: 100%;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #282828;
}

.micronutrientsInfo{
  margin-top: -1%;
}

#results2{
  color: white;
  padding-top:10%;
  text-shadow: 2px 2px 2px #282828;
}

.micronutrients{
  margin:20px;
  height: 100px;
  background-color: white;
  min-width: 55%;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #282828;
}

.foodItem{
  font-size: 150%;
  height: 25px;
  color: white;
  text-shadow: 2px 2px 2px #282828;
}

.micronutrients{
  margin-top: 25px;
  font-size: 20px;
  overflow: scroll;
  height:214px;
  padding: 10px;
}

.foodItem p{
  padding-top: 21px;
}

.infoTag{
  margin:20px 0px;
  padding: 0 15px;
}

.performance-facts, .infoTag{
  width:100%;
}


li{
  list-style: none;
}

/*table styling*/
@import "compass/css3";

body {
  font-size: small;
  line-height: 1.4;
}
p {
  margin: 0;
}

.performance-facts {
  border: 1px solid black;
  margin-bottom: 20px;
  margin-top: 0px;
  float: left;
  padding: 0.5rem;
  background-color: white;
  table {
    border-collapse: collapse;
  }
}
.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
  p {
    margin: 0;
  }
}
.performance-facts__table {
  width: 100%;
  thead tr {
    th, td {
      border: 0;
    }
  }
  th, td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
  }
  td {
    &:last-child {
      text-align: right;
    }
  }
  .blank-cell {
    width: 1rem;
    border-top: 0;
  }
  .thick-row {
    th, td {
      border-top-width: 5px;
    }
  }
}
.small-info {
  font-size: 0.7rem;
}

.performance-facts__table--small {
  @extend .performance-facts__table;
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
  thead {
    tr {
      border-bottom: 1px solid black;
    }
  }
  td {
    &:last-child {
      text-align: left;
    }
  }
  th, td {
    border: 0;
    padding: 0;
  }
}

.performance-facts__table--grid {
  @extend .performance-facts__table;
  margin: 0 0 0.5rem 0;
  td {
    &:last-child {
      text-align: left;
      &::before {
        content: "•";
        font-weight: bold;
        margin: 0 0.25rem 0 0;
      }
    }
  }
}

.text-center {
  text-align: center;
}
.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}

.searchAgainBtn{
	margin-left: 29%;
	margin-bottom: 10px;
	font-size: 22px;
  box-shadow: 2px 2px 2px #282828;
  /*background-color: #076124 !important;*/
  /*border-color: #076124 !important;*/
  color: #282828;
  border-radius: 5px;
}
/*---------------------------------------------------------------------------------
grid layout tests
---------------------------------------------------------------------------------*/

/*==================================================
            Bootstrap 3 Media Queries            


@media (min-width: 0px) and (max-width: 750px){
  .title{
    font-size: 3em;
  }
}

@media (min-width: 0px) and (max-width: 414px){

  .landingPageTitleDiv{
    top: 20%;
  }

  #startAppButton{
    margin-left: 2%;
  }

  .instructions{
    font-size: 14px;
  }

  .subTitles1{
    font-size: 18px;
  }

  .subTitles{
    font-size: 15px;
  }

  .title{
    font-size: 2.5em;
  }

  .logoImage{
    width: 107px;
  }

	.logoPage1{
		display: none;
	}

  .what{
    float: left;
  }

	.text{
		margin-top: -7%;
		font-size: 20px;
	}

  .mainSection{
    margin-left: 14%;
  }

  #searchBox{
    margin-top: -45px;
    font-size: 14px;
    width: 90%;
  }

  .searchAgainBtn{
    margin-left: 22%;
  }
}


@media (min-width: 415px) and (max-width: 768px){
  
  .landingPageTitleDiv{
    top: 22%;
  }

  #startAppButton{
    margin-left: 23%;
  }

  .instructions{
    font-size: 14px;
  }

  .subTitles1{
    font-size: 20px;
  }

  .subTitles{
    font-size: 17px;
  }

  .title{
    font-size: 2.5em;
  }

  .logoImage{
    width: 117px;
  }

	.searchAgainBtn{
		margin-left: 38%;
	}

  .mainSection{
    margin-left: 7%;
  }
}

@media (min-width: 769px) and (max-width: 991px){
  .landingPageTitleDiv{
    top: 32%;
  }
	.searchAgainBtn{
		margin-left: 39%;
	}
}
