/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/

.clearfix:before,
.clearfix:after {
    content: " ";  1
    display: table;  2
}

.clearfix:after {
    clear: both;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	background-color: #00544B;
}

body {
	position: relative;
	width: 98%;
	min-height: 96%;
	margin: 0.8em auto;
	padding-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	background-image: url("../images/fruitsVeg5.png");
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

body { overflow-x: hidden;}

a {
	text-decoration: none;
	color: black;
}

/*---------------------------------------------------------------------------------
   Header Styles page 1 and page 2
---------------------------------------------------------------------------------*/

.nav {
	position: relative;
	height: 10%;
	padding: 1em;
}

.logo, .what {
	font-weight: 700;
	font-size: 1.8em;
	margin-right: 8%;
	font-family: 'Special Elite', sans-serif;
}

.logo {
	float: left;
	list-style: none;
	margin-left: -1%;
	margin: auto;
}

.what {
	float: right;
	list-style: none;
}

.nav a {
	text-decoration: none;
	color: black;
}

.nav a:hover{
	color: #007030;
	text-decoration: none;
}

.logoTitle{
	margin-top: 15%;
}

.title {
	font-weight: 900;
	font-size: 4em;
	color: black;
	margin-top: 5px;
	font-family: 'Special Elite', cursive;

}

.text{
	font-weight: 900;
	font-size: 2em;
	padding: 1.8em;
	color: black;
	margin-top: -4%;
    margin-bottom: 20px;
    font-family: 'Special Elite', cursive;
}

/* Styles for hidden modal */
.overlay {
	width: 100%;
	height: 100%;
	color: black;
	background: rgba(89, 154, 61, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

.information {
	color: #404040;
	background: #7EBE44;
	position: relative;
	height: auto;
	width: 90%;
	border-radius: 3px;
	top: 15%;
	margin: auto auto;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 10px;
}

.informationH3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 200%;
	font-weight: 400;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
	color: white;
}

.informationP {
	margin: 0;
	padding: 10px 0;
	line-height: 2em;
	text-align: justify;
}

.informationUl {
	margin-bottom: -30px;
	padding: 0 0 30px 20px;
	text-align: left;
}

.informationLi {
	padding: 5px 0;
	display: block;
	list-style-type: disc;
	line-height: 1.5em;
}

.informationGotIt {
	font-size: 1.5em;
	background: #F0F7DA;
	color: #95a5a6;
	padding: 0.5em 2em;
	margin-bottom: 50px;
	border-radius: 3px;
}

/*---------------------------------------------------------------------------------
   Search Section Styles in Page 1
---------------------------------------------------------------------------------*/

#searchBox {
    resize: none;
    margin-top: -60px;
    font-size: 18px;
    border-radius: 4px;
    border: solid #F1F1F1;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    overflow: auto;
    width: 80%;
}

input {
	min-width: 50%;
	height: 70px;
	display: block;
	margin: 0.8em auto 0;
	background: #007030;
	opacity: 0.8;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: 'Special Elite', sans-serif;
	font-size: 170%;
	clear: both;
    right: 35%;
}

input:hover{
	background-color: rgb(30, 102, 11);
}

.disease{
	display: inline-block;
    width: 132px;
    height: 48px;
    background-color: white;
    opacity: 0.8;
    color: black;
    font-family: 'Special Elite', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 2px;
    border: solid #007030;
}

.diseaseToggle{
	background-color: #007030;
	color:white;
}

/*---------------------------------------------------------------------------------
   Results Section Styles in Page 2
---------------------------------------------------------------------------------*/
.navBar{
	background-color: rgba(40, 113, 99, 0.2);
	height: 30%;
	width: 100%;
}

.searchAgain{
	font-size: 30px;
	margin: auto;
	float: left;
}

#page1 {
	max-width: 100%;
}

#page2{
	display: none;
}

.resultsContainer{
	background-color: #F1F1F1;
    min-height: 665px;
    margin-top: 33px;
    border-radius: 2px;
}

.recommendedContainer{
	background-color: rgba(34, 112, 13,.8);
	border-radius: 2px;
}

.notRecommendedContainer{
	background-color: rgba(163, 5, 5, .8);
	border-radius: 2px;
}

.notFoundContainer{
	background-color: rgba(163, 5, 5, .8);
	border-radius: 2px;
}

.notFoundContainer #results, .notFoundContainer .foodItem, .notFoundContainer .micronutrients, .notFoundContainer .infoTag{
	display:none;
}

.resultsBox{
	margin: 30px auto;
  	height: 150px;
}

.reccomendation{
	font-size: 50px;
	color: red;
	text-shadow: 1px 1px #ff0000;
}

#results img{
	height: 100%;
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

#results2{
	color: white;
	padding-top:10%;
	font-family: 'Special Elite', sans-serif;
}

.foodItem, .micronutrients{
	margin:20px;
	height: 100px;
	background-color: white;
	min-width: 55%;
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

.foodItem{
	font-size: 150%;
	height: 25px;
}

.micronutrients{
	margin-top: 25px;
	font-size: 20px;
	overflow: scroll;
	height:214px;
	padding: 10px;
}

.foodItem p{
	padding-top: 21px;
}

.infoTag{
  margin:20px 0px;
  padding: 0 15px;
}

.performance-facts, .infoTag{
  width:100%;
}


li{
	list-style: none;
}

/*table styling*/
@import "compass/css3";

body {
  font-size: small;
  line-height: 1.4;
}
p {
  margin: 0;
}

.performance-facts {
  border: 1px solid black;
  margin-bottom: 20px;
  margin-top: 0px;
  float: left;
  padding: 0.5rem;
  background-color: white;
  table {
    border-collapse: collapse;
  }
}
.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
  p {
    margin: 0;
  }
}
.performance-facts__table {
  width: 100%;
  thead tr {
    th, td {
      border: 0;
    }
  }
  th, td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
  }
  td {
    &:last-child {
      text-align: right;
    }
  }
  .blank-cell {
    width: 1rem;
    border-top: 0;
  }
  .thick-row {
    th, td {
      border-top-width: 5px;
    }
  }
}
.small-info {
  font-size: 0.7rem;
}

.performance-facts__table--small {
  @extend .performance-facts__table;
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
  thead {
    tr {
      border-bottom: 1px solid black;
    }
  }
  td {
    &:last-child {
      text-align: left;
    }
  }
  th, td {
    border: 0;
    padding: 0;
  }
}

.performance-facts__table--grid {
  @extend .performance-facts__table;
  margin: 0 0 0.5rem 0;
  td {
    &:last-child {
      text-align: left;
      &::before {
        content: "•";
        font-weight: bold;
        margin: 0 0.25rem 0 0;
      }
    }
  }
}

.text-center {
  text-align: center;
}
.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}

.searchAgainBtn{
	margin-left: 29%;
	margin-bottom: 10px;
	font-size: 23px;
	display: inline-block;
    height: 100%;
    background-color: rgba(201,223,138,0.6);
    color: white;
    border-radius: 5px;
    font-family: 'Special Elite', sans-serif;
}
/*---------------------------------------------------------------------------------
   grid layout tests
---------------------------------------------------------------------------------*/

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

@media (min-width: 0px) and (max-width: 750px){
	.title{
		font-size: 3em;
	}
}

@media (min-width: 0px) and (max-width: 414px){
	.logoPage1{
		display: none;
	}

	.what{
		float: left;
	}

	.text{
		margin-top: -13px;
		font-size: 20px;
	}

	.mainSection{
		margin-left: 14%;
	}

	#searchBox{
		margin-top: -45px;
		font-size: 14px;
	}

	.searchAgainBtn{
		margin-left: 22%;
	}
}

@media (min-width: 415px) and (max-width: 768px){
	.searchAgainBtn{
		margin-left: 38%;
	}

	.mainSection{
		margin-left: 7%;
	}
}

@media (min-width: 769px) and (max-width: 991px){
	.searchAgainBtn{
		margin-left: 39%;
	}
}
