/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/
/*float styles*/
.clearfix:before,
.clearfix:after {
    content: " ";  1 
    display: table;  2 
}

.clearfix:after {
    clear: both;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	background-color: #00544B;
}


body {
	position: relative;
	width: 98%;
	height: 96%;
	margin: 0.8em auto;
	font-family: 'Special Elite', cursive;
	background-image: url("../images/fruitsVeg5.png");
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	/*display: none;*/
}

body { overflow-x: hidden;}

/*.row {
  margin-left: 0px;
  margin-right: 0px;
}*/


a {
	text-decoration: none;
	color: black;
}

/*ul li {	
	display: inline;
}*/

/*---------------------------------------------------------------------------------
   Header Styles page 1 and page 2
---------------------------------------------------------------------------------*/

nav {
	position: relative;
	height: 10%;
	padding: 1em;
}

nav ul li {
	/*text-transform: uppercase;*/
	font-weight: 700;
	font-size: 1.8em;
	margin-right: 8%;
	/*margin: auto;*/
}

nav ul li:first-child {
	float: left;
	list-style: none;
	margin-left: -1%;
	margin: auto;
}

nav ul li:last-child {
	float: right;
	list-style: none;


}

nav a {
	text-decoration: none;
	color: black;
}

nav a:hover{
	color: #007030;
	text-decoration: none;
}

.title {
	font-weight: 900;
	font-size: 4em;
	padding: 1.8em;
	color: black;
	margin-top: 5px;

}

.text{
	font-weight: 900;
	font-size: 2em;
	padding: 1.8em;
	color: black;
	margin-top: -137px;
    margin-bottom: 20px;
}

/*style for hidden modal*/
.overlay {
	width: 100%;
	height: 100%;
	color: black;
	background: rgba(89, 154, 61, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

.information {
	color: #404040;
	background: #7EBE44;
	position: relative;
	height: auto;
	width: 600px;
	border-radius: 3px;
	top: 15%;
	margin: auto auto;
	border: 1px solid rgba(0,0,0,0.1);
}

.information h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 400;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
	color: white;
}

.information > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.29em;
	height: 435px;
	font-family: 'Lato', sans-serif;

}

.information > div p {
	margin: 0;
	padding: 10px 0;
	line-height: 2em;
	text-align: justify;
}

.information > div ul {
	margin-bottom: -30px;
	padding: 0 0 30px 20px;
	text-align: left;
}

.information > div ul li {
	padding: 5px 0;
	display: block;	
	list-style-type: disc;
	line-height: 1.5em;
}

.information > div ul li strong{
	text-decoration: underline;
}

.information > div a {
	font-size: 1.5em;
	background: #F0F7DA;
	color: #95a5a6;
	padding: 0.5em 2em;
	margin-bottom: 50px;
	border-radius: 3px;
	margin-right: 38%;
	/*opacity: (0.8);*/

}
#close{
	opacity: 1;
}


/*---------------------------------------------------------------------------------
   Search Section Styles in Page 1
---------------------------------------------------------------------------------*/
#searchBox {
    resize: none;
    margin-top: -60px;
    font-size: 18px;
    border-radius: 4px;
    border: solid #F1F1F1;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    overflow: auto;
}



input {
	width: 300px;
	height: 70px;
	display: block;
	padding: 0.8em 0;
	margin: 0.8em auto 0;
	background: #007030;
	opacity: 0.8;
	color: #fff;
	/*border: solid 1px #1f253d;*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: 'Special Elite', sans-serif;
	font-size: 23px;
	clear: both;
	/*position: relative;*/
    right: 35%;
}

input:hover{
	background-color: rgb(30, 102, 11);
	/*width: 400px;
	-webkit-transition: width 1.5s;*/
}



.disease{
	display: inline-block;
    width: 132px;
    height: 48px;
    background-color: white;
    opacity: 0.8;
    color: black;
    font-family: 'Special Elite', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 2px;
    border: solid #007030;
}

/*label{
	display: inline-block;
	bottom: 23%;*/
    /*position: absolute;*/
     /*margin-top: -23px; */
    /* top: 90px; */
    /*right: 39%;
    font-size: 16px;
}*/
/*input{
	position: fixed;
}*/

#portionBox{
	position: relative;
    margin-top: 52px;
    left: 33%;
    resize: none;

}

span{
	margin-left: 34%;
	font-size: 16px;
}

.diseaseToggle{
	background-color: #007030;
	color:white; 
}

/*---------------------------------------------------------------------------------
   Results Section Styles in Page 2
---------------------------------------------------------------------------------*/
.navBar{
	background-color: rgba(40, 113, 99, 0.2);
	height: 70px;
	width: 100%;
	/*position: fixed;*/
}

#searchAgain{
	font-size: 30px;
	margin: auto;
	float: left;
}

#page1 {
	max-width: 100%;
}

#page2{
	display: none;
}

.resultsContainer{
	background-color: #F1F1F1;
    height: 665px;
    margin-top: 33px;
    border-radius: 2px;
}

.recommendedContainer{
	background-color: rgba(34, 112, 13,.8);
	border-radius: 2px;
}

.notRecommendedContainer{
	background-color: rgba(163, 5, 5, .8);
	border-radius: 2px;
}

.resultsBox{
	/*background-color: white;*/
	margin-top: 14%;
	height: 100px;
}

.reccomendation{
	font-size: 50px;
	color: red;
	text-shadow: 1px 1px #ff0000;
}

#results{
	margin-left: 56%;
}

#results img{
	max-width: 143px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
	margin-top: -5%;
}

#results2{
	width: 68%;
	margin-top: -16%;
	color: white;

}

.foodItem, .micronutrients{
	height: 100px;
	background-color: white;
	width: 35%;
	margin-left: 61%;
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

.foodItem{
	margin-top: 10%;
	font-size: 45px;
	height: 56px;
}

.micronutrients{
	margin-top: -6%;
	font-size: 20px;
	overflow: scroll;
	height:214px;
}

#results2 h2{
	margin-left: 20%;
}

.foodItem p{
	padding-top: 21px;
}

.infoTag{
	margin-top: -22%;
}

.infoTag img{
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

li{
	list-style: none;
}

/*table styling*/
@import "compass/css3";

/*.image {
  width: 250px;
  float: left;
  margin: 20px;
}*/
body {
  font-size: small;
  line-height: 1.4;
}
p {
  margin: 0;
}

.performance-facts {
  border: 1px solid black;
  margin: 20px;
  float: left;
  margin-left: 10%;
  width: 280px;
  padding: 0.5rem;
  background-color: white;
  table {
    border-collapse: collapse;
  }
}
.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
  p {
    margin: 0;
  }
}
.performance-facts__table {
  width: 100%;
  thead tr {
    th, td {
      border: 0;
    }
  }
  th, td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black; 
    white-space: nowrap;
  }
  td {
    &:last-child {
      text-align: right;
    }
  }
  .blank-cell {
    width: 1rem;
    border-top: 0;
  }
  .thick-row {
    th, td {
      border-top-width: 5px;
    }
  }
}
.small-info {
  font-size: 0.7rem;
}

.performance-facts__table--small {
  @extend .performance-facts__table;
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
  thead {
    tr {
      border-bottom: 1px solid black; 
    }
  }
  td {
    &:last-child {
      text-align: left;
    }
  }
  th, td {
    border: 0;
    padding: 0;
  }
}

.performance-facts__table--grid {
  @extend .performance-facts__table;
  margin: 0 0 0.5rem 0;
  td {
    &:last-child {
      text-align: left;
      &::before {
        content: "•";
        font-weight: bold;
        margin: 0 0.25rem 0 0;
      }
    }
  }
}

.text-center {
  text-align: center;
}
.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}

/*---------------------------------------------------------------------------------
   grid layout tests
---------------------------------------------------------------------------------*/

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Extra Small Devices, Phones */ 
    @media (min-width: 0px) and (max-width: 320px){
    	#searchBox{
    		width: 80%;
    		margin-left: 36px;
    		height: 100px;
    		font-size: 14px;
    		margin-top: -45px;
    	}

    	.navBar{
    		height: 91px;
    	}

    	nav ul li{
    		font-size: 20px;
    	}

    	.logo{
    		margin-left: 38%;
    		font-size: 24px;

    	}

    	.what{
    		margin-right: 45px;
    		font-size: 17px;
    	}

    	.title{
    		display: none;
    	}

    	.text{
    		font-size: 20px;
    		margin-top: -27px;
    		margin-left: 43px;
    	}

    	.disease{
    		width: 114px;
    		display: block;
    		height: 44px;
    		font-size: 12px;
    		margin-left: 38%;
    	}

    	input{
    		width: 190px;
    		height: 56px;
    		font-size: 20px;
    		margin-left: 60px;
    	}
    }

    @media (min-width : 321px) and (max-width: 411px) {
    	#searchBox{
    		width: 80%;
    		margin-left: 55px;
    		height: 156px;
    		margin-top: -47px;
    	}

    	.navBar{
    		height: 88px;
    	}

    	nav ul li{
    		font-size: 20px;
    	}

    	.logo{
    		margin-left: 40%;
    		font-size: 24px;

    	}

    	.what{
    		margin-right: 80px;
    		font-size: 17px;
    	}

    	.title{
    		display: none;
    	}

    	.text{
    		font-size: 20px;
    		margin-top: -27px;
    		margin-left: 43px;
    	}

    	.disease{
    		width: 114px;
    		display: block;
    		height: 44px;
    		font-size: 12px;
    		margin-left: 38%;
    	}

    	input{
    		width: 190px;
    		height: 56px;
    		font-size: 20px;
    		margin-left: 60px;
    	}
        
    }

    @media (min-width : 412px) and (max-width: 415px){
    	
    	#searchBox{
    		width: 80%;
    		margin-left: 55px;
    		height: 156px;
    		margin-top: -47px;
    	}

    	.navBar{
    		height: 88px;
    	}

    	nav ul li{
    		font-size: 20px;
    	}

    	.logo{
    		margin-left: 48%;
    		font-size: 24px;

    	}

    	.what{
    		margin-right: 99px;
    		font-size: 17px;
    	}

    	.title{
    		display: none;
    	}

    	.text{
    		font-size: 20px;
    		margin-top: -27px;
    		margin-left: 43px;
    	}

    	.disease{
    		width: 114px;
    		display: block;
    		height: 44px;
    		font-size: 12px;
    		margin-left: 38%;
    	}

    	input{
    		width: 190px;
    		height: 56px;
    		font-size: 20px;
    		margin-left: 85px;
    	}

    }

    @media (min-width : 417px) and (max-width: 437px){
    	#searchBox{
    		width: 80%;
    		margin-left: 55px;
    		height: 156px;
    		margin-top: -47px;
    	}

    	.navBar{
    		height: 88px;
    	}

    	nav ul li{
    		font-size: 20px;
    	}

    	.logo{
    		margin-left: 48%;
    		font-size: 24px;

    	}

    	.what{
    		margin-right: 99px;
    		font-size: 17px;
    	}

    	.title{
    		display: none;
    	}

    	.text{
    		font-size: 20px;
    		margin-top: -27px;
    		margin-left: 43px;
    	}

    	.disease{
    		width: 114px;
    		display: block;
    		height: 44px;
    		font-size: 12px;
    		margin-left: 38%;
    	}

    	input{
    		width: 190px;
    		height: 56px;
    		font-size: 20px;
    		margin-left: 85px;
    	}
    }

    @media (min-width : 438px) and (max-width: 447px){
    	#searchBox{
    		width: 80%;
    		margin-left: 55px;
    		height: 156px;
    		margin-top: -47px;
    	}

    	.navBar{
    		height: 88px;
    	}

    	nav ul li{
    		font-size: 20px;
    	}

    	.logo{
    		margin-left: 50%;
    		font-size: 24px;

    	}

    	.what{
    		margin-right: 148px;
    		font-size: 17px;
    	}

    	.title{
    		display: none;
    	}

    	.text{
    		font-size: 20px;
    		margin-top: -27px;
    		margin-left: 43px;
    	}

    	.disease{
    		width: 114px;
    		display: block;
    		height: 44px;
    		font-size: 12px;
    		margin-left: 38%;
    	}

    	input{
    		width: 190px;
    		height: 56px;
    		font-size: 20px;
    		margin-left: 128px;
    	}
    }

    @media (min-width : 448px) and (max-width: 526px){
    	#searchBox{
    		width: 80%;
    		margin-left: 55px;
    		height: 156px;
    		margin-top: -47px;
    	}

    	.navBar{
    		height: 88px;
    	}

    	nav ul li{
    		font-size: 20px;
    	}

    	.logo{
    		margin-left: 50%;
    		font-size: 24px;

    	}

    	.what{
    		margin-right: 112px;
    		font-size: 17px;
    	}

    	.title{
    		display: none;
    	}

    	.text{
    		font-size: 20px;
    		margin-top: -27px;
    		margin-left: 43px;
    	}

    	.disease{
    		width: 114px;
    		display: block;
    		height: 44px;
    		font-size: 12px;
    		margin-left: 38%;
    	}

    	input{
    		width: 190px;
    		height: 56px;
    		font-size: 20px;
    		margin-left: 104px;
    	}
    }

    @media (min-width : 527px) and (max-width: 530px){
    	#searchBox{
    		width: 80%;
    		margin-left: 55px;
    		height: 156px;
    		margin-top: -47px;
    	}

    	.navBar{
    		height: 88px;
    	}

    	nav ul li{
    		font-size: 20px;
    	}

    	.logo{
    		margin-left: 58%;
    		font-size: 24px;

    	}

    	.what{
    		margin-right: 150
    		px;
    		font-size: 17px;
    	}

    	.title{
    		display: none;
    	}

    	.text{
    		font-size: 20px;
    		margin-top: -27px;
    		margin-left: 43px;
    	}

    	.disease{
    		width: 114px;
    		display: block;
    		height: 44px;
    		font-size: 12px;
    		margin-left: 38%;
    	}

    	input{
    		width: 190px;
    		height: 56px;
    		font-size: 20px;
    		margin-left: 125px;
    	}
    }

    @media (min-width : 530px) and (max-width: 550px){
    	#searchBox{
    		width: 80%;
    		margin-left: 55px;
    		height: 156px;
    		margin-top: -47px;
    	}

    	.navBar{
    		height: 88px;
    	}

    	nav ul li{
    		font-size: 20px;
    	}

    	.logo{
    		margin-left: 58%;
    		font-size: 24px;

    	}

    	.what{
    		margin-right: 150
    		px;
    		font-size: 17px;
    	}

    	.title{
    		display: none;
    	}

    	.text{
    		font-size: 20px;
    		margin-top: -27px;
    		margin-left: 43px;
    	}

    	.disease{
    		width: 114px;
    		display: block;
    		height: 44px;
    		font-size: 12px;
    		margin-left: 38%;
    	}

    	input{
    		width: 190px;
    		height: 56px;
    		font-size: 20px;
    		margin-left: 125px;
    	}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    	#searchBox{
    		width: 80%;
    	}

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    	#searchBox{
    		width: 65%;
    	}

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    	#searchBox{
    		width: 65%;
    	}

    }

